# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
myenv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and system files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# data and trained models
data/
models/
confidence_scores.png/
results/

# Active Label Correction outputs
alcmodels/
alcIterations/

# Secrets and API keys
secrets.json

rawdata/
alcCopy/
alcCopy2/